<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-button 
			slot="start"
			(click)="back()"
			fill="clear"
			class="back-btn">
			<ion-icon name="chevron-back"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div
		class=" max-w-md mx-auto">
		<div
			class="mt-16">
			<ion-title
				class="text-clr-accent font-semibold font-mono login-title">
				Se connecter
			</ion-title>
		</div>
		<form 
			[formGroup]="form"
			(submit)="submit()"
			class="mx-8! mt-16! flex! flex-col gap-8">
			<div
			class="border-2 border-clr-accent px-4 rounded-2xl">
				<ion-input 
					formControlName="username"
					placeholder="Enter le nom d'utilisateur"
					class="title-input"
				></ion-input>
			</div>
			<div
			class="border-2 border-clr-accent px-4 rounded-2xl">
				<ion-input 
					formControlName="password"
					placeholder="Enter le mot de pass"
					class="title-input"
					type="password"
				></ion-input>
			</div>
			<div>
				<ion-button
					slot="center"
					type="submit"
					class="login-btn">
					Connextion
				</ion-button>
			</div>
		</form>

		<div
			class="mt-16 flex justify-center">
			<ion-text> Avez-vous un compte ? </ion-text>
			<ion-text 
				(click)="register()"
				class="ml-1 text-clr-accent font-semibold"> S'inscrivez-vous </ion-text>
		</div>
	</div>
</ion-content>
