ion-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(83, 66, 195, 0.50);
}

.back-btn{
    --color: var(--color-clr-accent) !important;
}

ion-list-header{
   padding-left: 16px !important;
    font: 500 !important;
}
.modal-header{
    font-weight: 600 !important;
    font-size: large;
    display: flex;
    // border: 1px solid;
    padding-inline: auto;
}

ion-list{
    border-radius: 16px !important;
    margin-top: none !important;
    // border: 1px solid var(--color-clr-span);
}

ion-item {
  --transition: none;
}

ion-toggle{
    --handle-background-checked: var(--color-clr-accent) !important;
}

ion-textarea{
    --highlight-color-focused: var(--color-clr-accent) !important;
}

.logout-btn{
    --background: var(--color-clr-accent);
}
// .logout-label{
//     --color: var(--color-clr-text-white) !important;
//     color: var(--color-clr-white) !important;
// }