/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/
// bootstrap icon import
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
* Ionic Dark Mode
* -----------------------------------------------------
* For more info, please see:
* https://ionicframework.com/docs/theming/dark-mode
*/

// @import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css";
// @import '@ionic/angular/css/palettes/dark.system.css';

// tailwind import
@import "tailwindcss";

// mapLibre-gl import
@import "maplibre-gl/dist/maplibre-gl.css";

// color-scheme: light dark;

@theme {
	/* denifition de couleurs ou theme du site */
	/* found color --------------------- */
	--color-clr-bg: #F3F4F6; 
	--color-clr-bg-dark: #1F1F1F;

	/* text color ----------------- */
	--color-clr-text: #1F1F1F;
	--color-clr-text-white: #F3F3F3;
	// --color-clr-span: #364153;
	--color-clr-span: #606162;
	--color-clr-span-white: #99A1AF;
	
	/* accent color ------------------------------ */
	--color-clr-accent: #4F57C4; /* ou  615FFF */ 
	--color-clr-accent-op: #4F57C4; /* ou  615FFF */ 
	--color-clr-hover: #615FFF; /* ou 432DD7 */
	--color-clr-box: #6c6c6c30;
	--color-clr-box-wht: #ffffff15;
	--color-clr-bdr: #606162;
}

// .maplibregl-ctrl-top-right,
// .maplibregl-ctrl-top-left{
// 	top: 56px;
// }

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right{
	top: calc(70px + env(safe-area-inset-top)) !important;
	color: #4f57c4;
}

.maplibregl-ctrl-group {
    border-radius: 4px;
    background: #4f57c43b !important;
	overflow: hidden !important;
}

.maplibregl-ctrl button:not(:disabled):active {
    background-color: #4f57c46d !important;
}

@media (hover: hover) {
    .maplibregl-ctrl button:not(:disabled):hover {
        background-color: #4f57c46d !important;
    }
}

.maplibregl-popup{
    position: absolute !important;
    width: 200px;
    height: 150px;
	// background: var(--color-clr-accent) !important;
}

.maplibregl-popup-content{
    // background: var(--ion-background-color) !important;
    // background: var(--color-clr-accent) !important;
    color: var(--ion-text-color) !important;
    border-radius: 16px !important;
    padding: 10px !important;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .25);
    border: 2px solid #4f57c43b !important;
}