<ion-header [translucent]="true">
	<ion-toolbar
		class="p-2">
		<ion-title
			class="font-mono font-semibold text-clr-accent text-xl mt-1">
			{{name().title}}
			<p class="text-xs font-mono">{{name().page}}</p>
		</ion-title>
		<ion-buttons
			slot="end"
			fill="clear">
			<ion-button>
				<ion-icon name="notifications"></ion-icon>
			</ion-button>

			<!-- <ion-button
				fill="clear">
				<ion-icon name="settings" size=""></ion-icon>
			</ion-button> -->
		</ion-buttons>

	</ion-toolbar>
</ion-header>

