ion-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(83, 66, 195, 0.26);
}
ion-img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid rgba(83, 66, 195, 0.26);
}